@model technicalAssesment.Models.AddCustomerModel

@{
    ViewData["Title"] = "Add Customer";
}


<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script>
        $(document).ready(function() {
            $("button").click(function() {
                $(document).scrollTop($(document).height());
            });
        });
    </script>


    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


</head>



<form method="post" action="AddCustomer" class="mt-5">

<div id="customerDetails">
<h1>Add Customer Details</h1>
    <div class="mb-3">
            <label for="" class="form-label">First Name</label>
        <input type="text"  data-val="true" data-val-required="First Name Is Required" class="form-control" asp-for="FirstName">
    </div>
    <div class="mb-3">
            <label for="" class="form-label">Last Name</label>
        <input type="text"  data-val="true" data-val-required="Last Name Is Required" class="form-control" asp-for="LastName">
    </div>
    <div class="mb-3">
            <label for="" class="form-label">Cellphone</label>
            <input type="text" data-val="true" data-val-required="Cellphone Number Is Required" class="form-control" asp-for="cellphone">
    </div>
    </div>


   
    
    <div style="text-align:right;">
        <button>Scroll Down</button>
    </div>

    <div id="customerAddress">
    <h1>Add Customer Addresses</h1>
    <div class="mb-3">
            <label for="" class="form-label">Physical Address (street)</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="physicalAddressLine">
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Suburb</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="physicalSuburb">
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Country</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="physicalCountry">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Postal Code</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="physicalPostalCode">
    </div>
    </div>
    <!--
    <div style="text-align:left;" href="customerAddress" class="nav-item">
    <p> <a class="btn btn-secondary" asp-area="" onClick="document.getElementById('customerAddress').scrollIntoView();" role="button"> Back</a> </p>
    </div>

    <div style="text-align:right;" href="postalAddress" class="nav-item">
    <p> <a class="btn btn-secondary" asp-area="" onClick="document.getElementById('postalAddress').scrollIntoView();" role="button"> Next</a> </p>
    </div>

    -->
    <div id="postalAddress">
    <h3>Postal Address</h3>
    <div class="mb-3">
        <label for="" class="form-label">Physical Address (street)</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="postalAddressLine1">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Suburb</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="postalSuburb">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Country</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="postalCountry">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Postal Code</label>
            <input type="text" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="postalCode">
    </div>
    </div>


    <!--
    <div style="text-align:left;" href="postalAddress" class="nav-item">
    <p> <a class="btn btn-secondary" asp-area="" onClick="document.getElementById('postalAddress').scrollIntoView();" role="button"> Back</a> </p>
    </div>

    <div style="text-align:right;" href="customerComments" class="nav-item">
    <p> <a class="btn btn-secondary" asp-area="" onClick="document.getElementById('customerComments').scrollIntoView();" role="button"> Next</a> </p>
    </div>

    -->

    <div id="customerComments">
    <h1>Add Customer Comments</h1>
    <div class="mb-3">
        <label for="" class="form-label">Additional Comments</label>
        <!--
            <div>
                <textarea name="comments" data-val="true" data-val-required="This Field Is Required" class="form-control" asp-for="comment" id="comments" style="font-family:sans-serif;font-size:1.2em;">
             </textarea>
            </div>

            -->
          <input type="text" style="font-family:sans-serif;font-size:1.2em;" class="form-control" asp-for="comment">
    </div>
    </div>

    <!--
    <div style="text-align:left;" href="postalAddress" class="nav-item">
        <p> <a class="btn btn-secondary" asp-area="" onClick="document.getElementById('postalAddress').scrollIntoView();" role="button"> Back</a> </p>
    </div>

    -->
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>